@use '../../variables';

.formLogin {
    margin: 2rem auto;
    width: 40%;
    min-width: 330px;
    padding: 1rem;
    background-image: linear-gradient(130deg, #4802F7, variables.$primary-color);
    border-radius: 1rem;
    color: #fff;

    & > h1 {
        text-align: center;
    }

    & .divPassword {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        position: relative;

        & input {
            height: 2.5rem;
            border-radius: .5rem;
            width: 100%;
            padding: 4px 16px;
            border: none;
        }
        & > svg {
            position: absolute;
            right: 1rem;
            top: 50%;
            color: black;
            font-size: 1.2rem;
            
        }
    }
    & div:nth-child(4) {
        margin: 1rem auto;
    }
}
.loginAPI {
    text-align: center;
    margin-top: 1rem;

    &  div {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    }
    
}
.actions {
    width: 100%;
}