@use '../../variables';

.SimpleCardCourse {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .courseDetails {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        
        & .title{
            color: variables.$primary-color;
        }
        & .flag{
            color: blue;

            & .rect {
                width: .5rem;
                height: .5rem;
                background-color: gray;
            }
        }
    }
    & .btnActions{
        display: flex;
        gap: 2rem;

        & button:hover {
            opacity: 0.9;
        }
    }
}